body {
    background-color:rgb(240,190,230);
   }
   hr
   {
      border-style:none;
      border-top: dotted;
      border-color: gray;
      border-width: 8px;
      width: 5%;
   }
   img{
         height: 250px;
   }
   h1
   {
      color:#4b7777;
   }
   h2
   {
    color:#4b7777;
   }
   h3
   {
    color:#4b7777;
   }
   table{
       align-content: center;
   }
 .dom:hover
 {
   color:green;
 }
